* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  /* HEADER SECTION */
  .header {
    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(Image/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-right: 0%;
  }
  .navbar-brand span {
    color: white;
  }
  .navbar-brand img {
    height: 30px;
  }
  .navbar-custom {
    display: flex;
    justify-content: space-between;
  }
  .navbar-nav {
    margin-right: 6%;
  }
  .navbar-item {
    padding: 1% 5%;
    margin-bottom: 5px;
  }
  .navbar-item::after {
    content: " ";
    width: 0%;
    display: block;
    background-color: #e83a14;
    height: 1px;
    margin: auto;
    transition: 0.5s;
  }
  .navbar-item:hover::after {
    width: 100%;
  }
  .navbar-link {
    text-decoration: none;
    color: white;
  }
  .navbar-link:hover {
    text-decoration: none;
    color: white;
  }
  
  /* TITLE SECTION */
  .title {
    color: #fff;
    width: 80%;
    margin: 5% auto;
    text-align: center;
  }
  .title-head {
    font-size: 2rem;
    position: relative;
    bottom: 10px;
  }
  
  
  /* CERTIFICATE SECTION */
.certificate{
    width: 80%;
    margin: auto;
}
.certificate-heading{
    padding: 2% 0 1%;
}
.certificate-para{
    text-align: justify;
    font-size: 14px;
    color: rgb(56, 56, 56);
}
.certificate-image{
    width: 100%;
    padding-top: 2%;
}
.right{
  display: flex;
  justify-content: space-between;
}
.certificate-right-heading{
  margin-top: 4%;
  background-color: #e83a14;
  color: white;
  text-align: center;
  padding: 2%;
  font-size: 18px;
}

  /* COMMENT SECTION  */
  .comment{
    width: 100%;
    margin: 2% auto;
    background-color: rgba(185, 221, 169, 0.293);
  }
.comment-input{
  width: 98%;
  margin: 1% 1.2%;
  border: none;
  outline: none;
  padding: 1%;
}
.comment-btns{
  align-items: center;
  width: 20%;
  margin: 1% auto;
}
.comment-btn-sub{
  background-color: #e83a14;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 2% 7%;
}
.comment-btn{
  background-color: #a3abac;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 2% 2%;
}
.comment-heading{
  padding: 1% 1.2% ;
}
  /* FOOTER SECTION  */
  .footer{
    width: 80%;
    padding: 1% 5% 1%;
    margin: 0% auto;
    text-align: center;
  }
  .footer-heading{
    font-weight: 750;
    font-size: 18px;
    padding: 2%;
  }
  .footer-para{
    font-size: 14px;
    color: rgb(56, 56, 56);
    font-weight: 400; 
  }
  .footer-icon .fa{
    padding: 2% 2%;
    padding-bottom: 4%;
  }
  .footer-copy{
    font-size: 12px;
    color: rgb(129, 129, 129);
    font-weight: 500;
  }
  